@model IEnumerable<TestApp2.Models.FriendRequest>
@{
    ViewBag.Title = "requestList";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


@if (Model.Count() == 0)
{
    <h4>Du har inga vänförfrågningar</h4>
}
else
{
<table class="table">
    <tr>
        <th>
            Requests
        </th>
    </tr>
    @foreach (var item in Model)
    {

        {
            <tr>
                <td>
                    <img src="@Url.Action("ProfilBild", "Profile", new { id = item.From.Id })" height="50" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.From.UserName)
                </td>

                @using (Html.BeginForm("AcceptFriend", "Friend", new { id = item.Id }, FormMethod.Post, null))
                {
                    <button id="myBtn" type="button" class="btn btn-default">Accept friend</button>
                }
                @*@Html.ActionLink("Acceptera Vän", "AcceptFriend", "Friend", new { id = item.Id }, null)*@


                @using (Html.BeginForm("DeclineFriend", "Friend", new { id = item.Id }, FormMethod.Post, null))
                {

                    <button id="mybtn2" type="button" class="btn btn-default">Neka vänförfrågan</button>
                }
            </tr>
        }
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                @using (Html.BeginForm("AcceptFriend", "Friend", new { id = item.Id }, FormMethod.Post, null))
                {
                    <button type="submit" class="close">&times;</button>
                    <p>Nu är ni vänner!.</p>
                }
            </div>
        </div>
    }
</table>
}
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var closebtn = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    //When the user clicks on button (x), close the modal och submita att acceptera vän
    closebtn.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";

        }
    }

</script>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
