@model IEnumerable<TestApp2.Models.ApplicationUser>

@{
    ViewBag.Title = "FriendList";
}

<h2>FriendList</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <img src="@Url.Action("ProfilBild","Profile", new { id = item.Id })" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>


        </tr>
    }

</table>
